* {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

/* -------- Login -------- */
.banner img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}
/* -------- Login -------- */

/* -------- Register -------- */
.register-wrapper {
  height: 100vh;
  background-image: url(./img/school.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.register-wrapper .register-box {
  height: 100%;
  background-color: white;
}

.register-wrapper img {
  width: 160px;
}

@media (min-width: 702px) {
  .register-box.container {
    max-width: 450px;
  }
}

/* -------- Register -------- */

/* -------- icon -------- */
.icon {
  font-size: 24px;
  cursor: pointer;
  /* display: inline-flex; */
}

.icon.dish-op {
  position: absolute;
  top: 0;
  right: 24px;
}

.icon.pay {
  width: 24px;
  height: 24px;
}
/* -------- icon -------- */

/* -------- dish -------- */
.dish-img {
  max-width: 400px;
  border-radius: 15px;
  /* max-height: 230px; */
}
/* -------- dish -------- */

/* -------- cart -------- */
.cart {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 380px;
}

.total-cost {
  font-size: 24px;
  margin-left: 8px;
}

.pay {
  position: absolute;
  bottom: 5px;
  margin-left: auto;
}
/* -------- cart -------- */